body{
    font-size: 12px;
}

.parent{
    display: flex;
    flex-direction: row;

}
.p{
    border: black solid thin;
}
@media only screen  and (max-width: 850px) {
    .parent{
        flex-direction: column;
    }
}