.container{
    height: 700px;
    width: 100%;
    background-color: black;
}

.text{
    color: black;
    font-size: 36px;
}

.p-container:hover .text{
    color: white;
    transition: 2s;
    transition-delay: 0.5s;
}